<script type="text/ng-template" id="modalInserir.html">
    <div class="modal-header">
    	<button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
    	<h4 id="myModalLabel" class="modal-title" ng-show="!showInputs">Adicionar Agenda</h4>
        <h4 id="myModalLabel" class="modal-title" ng-show="showInputs">Adicionar Telefone</h4>
    </div>
    
	<form name="formValidate" ng-submit="submitForm()" novalidate class="form-validate form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-pattern ng-valid-url ng-invalid-validator ng-valid-minlength ng-valid-maxlength ng-valid-blacklist ng-valid-date ng-valid-date-disabled ng-valid-time">

		<div class="modal-body">

			<div class="panel-body" ng-show="!showInputs">
		      
		      	<fieldset>
					<div class="form-group">
						<label class="col-sm-2 control-label">
							Nome
						</label>
						<div class="col-sm-6">
							<input type="text" 
								name="code" 
								required 
								ng-model="telefones.nome" 
								class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
						</div>
					</div>
				</fieldset>             

                <table id="grid-telefones" datatable="ng" dt-options="dtOptionsTelefone" dt-column-defs="dtColumnDefsTelefone" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="cursor:pointer;" class="col-sm-1 btn-primary">
                                <a class="col-xs-12 btn btn-primary" ng-click="addItem()">Inserir</a>
                            </th>
                            <th>Nome</th>
                            <th>DDD + Telefone</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in telefones.telefones">
                            <td>{{$index}}</td>

                            <td class="text-center" ng-hide="item.modify">

                                <div class="row">
                                    <div class="text-center">
                                        <div class="col-md-6 text-center"
                                             popover="Editar"
                                             popover-trigger="mouseenter">
                                            <a ng-click="visualizar(item)">
                                                <i class="fa icon-pencil"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-6 text-center"
                                             popover="Excluir"
                                             popover-trigger="mouseenter">
                                            <a ng-click="deleteConfirm($index)" href>
                                                <i class="fa icon-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </td>

                            <td>
                                {{ item.nome || 'não definido' }}
                            </td>

                            <td>
                                {{ item.ddd + ' ' + item.numero || 'não definido' }}
                            </td>

                            <td>
                                {{ item.tipo == '1' ? 'residencial' : item.tipo == '2' ? 'celular' : 'comercial' || 'não definido' }}
                            </td>

                        </tr>
                    </tbody>
                </table>
				
		   </div>

            <div class="panel-body" ng-show="showInputs">

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Contato
                        </label>
                        <div class="col-sm-6">
                            <input type="text"
                                   name="code"
                                   required
                                   ng-model="telefone.nome"
                                   class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            DDD
                        </label>
                        <div class="col-sm-6">
                            <input type="text"
                                   name="code"
                                   required
                                   maxlength="2"
                                   ng-model="telefone.ddd"
                                   class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Número
                        </label>
                        <div class="col-sm-6">
                            <input type="text"
                                   name="code"
                                   required
                                   maxlength="9"
                                   ng-model="telefone.numero"
                                   class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Tipo do Produto
                        </label>
                        <div class="col-sm-6">
                            <select name="select" required="" ng-model="telefone.tipo" class="form-control ng-dirty ng-valid-parse ng-valid-required ng-touched ng-pristine ng-invalid ng-invalid-required">
                                <option value=""></option>
                                <option value="1">Residêncial</option>
                                <option value="2">Celular</option>
                                <option value="3">Comercial</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

            </div>

		</div>

		<div class="modal-footer">
            <button ng-click="ok(telefone)" ng-show="showInputs" class="btn btn-primary">Adicionar</button>
			<button ng-click="ok(telefones)" ng-show="!showInputs" class="btn btn-primary">Salvar</button>
			<button ng-click="cancel()" class="btn btn-warning">Cancelar</button>
		</div>

	</form>
	
    
</script>